<% if user_signed_in? && current_user.id == review.user_id %>
  <div class="card border-0">
  <%= link_to edit_review_path(review.id) do %>
    <div class="card-contents">
      <div class="btn btn-primary my-3 w-100">
        <%= review.opus_title %>
      </div>
      <% if review.image.attached?%>
        <%= image_tag review.image %>
      <% else %>
        <%= image_tag "sample4.jpg" %>
      <% end %>
    </div>
    <div class="px-3" id="info_wrapper">
      <span id="info">
        <%= review.title %>
        <%= review.user.name %>
      </span>
    </div>
  <% end %>
  </div>
<% else %>
  <div class="card border-0">
  <%= link_to review_path(review.id) do %>
    <div class="card-contents">
      <div class="btn btn-primary my-3 w-100">
        <%= review.opus_title %>
      </div>
      <% if review.image.attached?%>
        <%= image_tag review.image %>
      <% else %>
        <%= image_tag "sample4.jpg" %>
      <% end %>
    </div>
    <div class="px-3" id="info_wrapper">
      <span id="info">
        <%= review.title %>
      </span>
      <span id="info2">
        <%= review.user.name %>
      </span>
    </div>
  <% end %>
  </div>
<% end %>


<div class="px-3" id="info_wrapper">
  <div class="card-contents">
    <% if @review.image.attached?%>
      <%= image_tag @review.image %>
    <% else %>
      <%= image_tag "sample4.jpg" %>
    <% end %>
  </div>
  <div class="bg-light mt-5" id="card_s">
    <span id="info">
      <%= review.title %>
      <%= review.user.name %>
    </span>
  </div>
</div>

