<% if @reviews.exists? %>
  <div class="card">
    <div class="card-contents">
    <%= link_to '#' do %>
      <div class="btn btn-primary my-3 w-100">
        <%= review.opus_title %>
      </div>
      <% if review.image.attached?%>
        <%= image_tag review.image, id: "review_image" %>
      <% else %>
        <div class="btn btn-primary my-3 w-100">
          <%= review.opus_title %>
        </div>
        <div id="text_setting">
          <%= image_tag "sample2.jpg", id: "review_image" %>
          <p class="card-text ml-4" id="image_text">サンプル：
            <a href="https://pixabay.com/ja/users/kirillslov-8058952/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5773481">kirillslov</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5773481">Pixabay</a>からの画像
          </p>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
<% end %>


