<div class="container-field">
  <%= form_with model: @review, class: 'form', local: true do |f| %>
  <div class="row" id="top_part">
    <div class="col-sm-8" id="top_left">
      <div class="mx-5 my-3" id="opus_title">
        <%= f.text_field :opus_title, class: "edit-left" %>
      </div>
      <div class="card mx-5 border-0" id="card_m">
        <label for="opus_image" class="card-contents">
          <%= f.file_field :image, id:"opus_image" %>
          <div id="image_preview"></div>
          <% if @review.image.attached?%>
            <%= image_tag @review.image %>
          <% else %>
            <%= image_tag "sample4.jpg" %>
          <% end %>
        </label>
      </div>
    </div>
    <div class="col-sm-4" id="top_right">
      <div class="bg-light mt-5" id="card_s">
        <span>レビュー投稿日：<%= @review.created_at.strftime('%Y/%m/%d') %></span>
        <span>レビュワー：<%= @review.user.name %></span>
      </div>
      <div class="bg-light mt-5" id="card_s">
        <span>作品情報</span>
        <span>作者名：<%= f.text_field :author_name, class: "edit-right" %></span>
        <span>作者HP：<%= f.text_field :authors_website, class: "edit-right" %></span>
      </div>
      <div class="bg-light mt-5" id="card_s">
        <span>タグ情報</span>
        <span><%= f.collection_select(:tag_name, Tag.all, :tag_name, :tag_name, {}, {class:"edit-right"}) %></span>
      </div>
    </div>
  </div>
  <div class="row" id="lower_part">
    <div class="col-sm-8 border-0" id="lower_left">
      <div class="form-group mx-3 my-4" id="input_lower">
        <h5>レビュータイトル</h5>
        <%= f.text_field :title, class: "edit-title" %>
      </div>
      <div class="form-group mx-3 my-4" id="input_lower">
        <h5>レビュー</h5>
        <%= f.text_area :text, class: "edit-text" %>
      </div>
      <div id="edit_btn">
        <div class="btn_guide mr-3">レビュー内容を修正した場合はこちら</div>
        <div class="form-group  mr-3" id="submit_btn">
          <%= f.submit '編集を完了する', class: "btn btn-secondary", style: "width: 180px" %>
        </div>
      </div>
      <div id="delete_btn">
        <div class="btn_guide mr-3">レビューを削除する場合はこちら</div>
        <div class="form-group  mr-3" id="submit_btn">
          <%= link_to 'レビューを削除', review_path(@review.id), method: :delete, class: "btn btn-secondary", style: "width: 180px" %>
        </div>
      </div>
    </div>
    <div class="col-sm-4" id="lower_right">
    </div>
  </div>
  <% end %>
</div>