<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <%= form_with model: @review, class: 'form', local: true do |f| %>
        <div class="custom-control custom-control-inline" id="opus_info">
          <div class="card" id="info_left">
            <img class="card-img-top" src=# alt="Card image">
            <div class="card-body">
              <h4 class="card-title">
              <%= f.text_field :title %>
              </h4>
              <p class="card-text">Some example text.</p>
            </div>
          </div>
          <div id="info_right">
            <div class="form-group mt-2 ml-4">
              <p>ゲームタイトル / ver</p>
              <%= f.text_field :opus_title, class: "form-control" %>
            </div>
            <div class="form-group mt-2 ml-4">
              <p>作者</p>
              <%= f.text_field :author_name, class: "form-control" %>
            </div>
            <div class="form-group mt-2 ml-4">
              <label for="authors_website">作者HP</label>
              <input type="text" class="form-control" id="authors_website">
            </div>
          </div>
        </div>
        <h5 class="mt-4 ml-3">レビュー</h5>
        <%= f.text_area :text, class: "form-control mb-4", style: "height: 32vh;" %>
        <div id="submit_form">
          <%= f.submit '投稿する', class: "btn btn-primary mr-5", style: "width: 160px;" %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3" >
      Right_side
    </div>
  </div>
</div>